In [1]:
import pandas as pd
import numpy as np

In [4]:
url='https://docs.google.com/spreadsheets/d/1NvykYfgkDoGhqkw_NvXhEYtO_o59JXQ2/edit#gid=14785455'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_leaf_measurement = pd.read_xlsx(url)

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [3]:
file_data = 'leaf_measurements.xlsx'
directory = '/Users/yingyuepeng/Google drive/Shared drives/03_Projects/08_Cyprus/07_data/02_measurements_our_experiment/'
df = pd.read_excel(os.path.join(directory, file_data), header = 1)

In [2]:
import pandas as pd
import os

In [4]:
df

,Date,Plant_number,Width,Length,Observations
0,2021-12-14,1.0,29.0,45.0,"Width was half, and we measured the rachid (in..."
1,2021-12-14,1.0,28.0,50.0,NaN
2,2021-12-14,1.0,23.0,46.0,NaN
3,2021-12-14,1.0,26.0,60.0,NaN
4,2021-12-14,1.0,34.0,54.0,NaN
...,...,...,...,...,...
1614,2022-05-24,5.0,28.0,30.0,NaN
1615,2022-05-24,5.0,22.0,31.0,NaN
1616,2022-05-24,5.0,15.0,25.0,NaN
1617,2022-05-24,5.0,14.0,22.0,NaN
1618,2022-05-24,5.0,13.0,18.0,NaN

In [6]:
import sys

def get_base_prefix_compat():
    """Get base/real prefix, or sys.prefix if there is none."""
    return getattr(sys, "base_prefix", None) or getattr(sys, "real_prefix", None) or sys.prefix

def in_virtualenv():
    return get_base_prefix_compat() != sys.prefix

In [7]:
sys.prefix == sys.base_prefix

False

In [ ]:
pip install openpyxl